<div class="navbar navbar-fixed-top">
  <div class="container-fluid navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">CODENAME MERCURY</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/">Home</a></li>
    </ul>
<!--     <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="main.userSearch">
      </div>
    </form>
      <ul class="nav navbar-nav">
        <li><a href="" ng-click="(main.filtering = !main.filtering)">Topics</a></li>
        <li><a href="" ng-click="main.clearFilters()">View all</a></li>
        <li><a href="" ng-click="main.loadArticles()">Refresh</a></li>
      </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/logout">Logout</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid">

  <div class="jumbo-profile jumbotron">
    <div class="container-fluid">
      <div class="jumbo-header">
        <h1>Your news</h1>
      </div>
    </div>
  </div>

</div>
